* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  background: #202125;
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

@font-face {
  font-family: Roboto;
  src: url(access/Fonts/Roboto/Roboto-Medium.ttf);
}

.header {
  margin: 7px;
  background: #3c4043;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.image-header {
  border-radius: 50%;
}

.name-header {
  padding-left: 7px;
  color: white;

  font-family: Roboto;
  font-size: 12px;
}

.container {
  margin: 7px;
  background: #202125;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 5px;
}

.share-windows {
  background: #919191;
}

.windows-avatars {
  color: white;
  gap: 7px;
  background: #202125;
  min-width: 300px;
  min-height: 200px;

  display: grid;
  grid-template-rows: auto auto;
}

.elements-avatars {
  font-size: 12px;
  font-family: Roboto;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-microphone-1 {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #53585c;
  right: 16px;
  bottom: 280px;
}

.name-avatar-1 {
  right: 191px;
  top: 287px;
}

.name-avatar-2 {
  right: 278px;
  bottom: 69px;
}

.avatar-image {
  border-radius: 3%;
  background: #3c4043;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-avatar {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.footer {
  padding: 5px;
  margin: 7px;
  color: white;
  font-family: Roboto;
  font-size: 14px;
  background: #202125;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.btn {
  background: #3c4043;
  border-radius: 50%;
  width: 30px;
  height: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.button-microphone-2 {
  background: #e84332;
}

.button-camera {
  background: #e84332;
}

.button-call {
  background: #e84332;
  border-radius: 38%;
  width: 40px;
}

.icons {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
}

.elements-footer {
  width: 15px;
  height: 15px;
  font-size: 9px;
  background: #3c4043;
  border-radius: 50%;
  position: absolute;
  right: 101px;
  bottom: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 900px) {
  .windows-avatars {
    display: none;
  }
}
