.buttons {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-column-gap: 7px;
}

.icons {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
}

.friends-container {
  position: relative;
}

.friends-number {
  width: 15px;
  height: 15px;
  font-size: 9px;
  background: #3c4043;
  border-radius: 50%;
  position: absolute;
  right: -7px;
  top: -12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
