.container {
  height: 100%;
  margin: 7px;
  background: #202125;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 5px;
}

@media (max-width: 768px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
