.footer {
  margin: 7px;
  color: white;
  font-size: 18px;
  background: #202125;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .footer {
    padding: 10px;
  }
}
