.footer {
  gap: 12px;
  margin: 7px;
  color: white;
  font-size: 18px;
  background: #202125;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .footer {
    padding: 10px;
    margin-bottom: -12px;
  }
}

@media (max-width: 500px) {
  .footer {
    flex-direction: column;
    margin-bottom: -50px;
  }
}

@media (max-width: 320px) {
  .footer {
    margin: -12px;
  }
}
